#header{
    width: 100%;
    background-color: #ffffff;
    height: 57px;
    line-height: 57px;
    border-bottom:1px solid #E6E6E6 ;
}
#header .logo{
    margin-left: 60px;
    font-size: 24px;
    font-family: "黑体";
    text-indent: 42px;/*文字首行缩进*/
    background: url("../images/icon-1.png" ) left center no-repeat;
    background-size: 40px 30px;
}
#header .nav li {
    width: 65px;
    height: 100%;
    text-align: center;
    display: inline-block;
}
#header .nav li a{
    font-size: 14px;
    font-family: "微软雅黑";
    color: #7c7a82;
    transition: all 0.5s;
}
#header .nav li a:hover{
    color: black;
}
#header .nav li{
    margin-left: 44px;
}
#header .nav{
    height: 100%;
    margin-right: 37px;
}
#header .login{
    font-size: 14px;
    font-family: "微软雅黑";
    color: #e34f52;
    text-indent: 19px;
    background: url("../images/icon-2.jpg" ) left center no-repeat;
    margin-right: 67px;
}
.active{
    border-bottom: 5px solid #E34E52;
}
